<% todoList.forEach(function(todo){ %>
<li <% if (todo.isDone) { %> class="completed" <% } %>>
  <div class="view">
    <form action="/toggle" method="post">
      <input name="id" class="hidden" value="<%= todo.id %>" />
      <input class="toggle" type="checkbox" onchange="this.form.submit()" <% if (todo.isDone) { %> checked <% } %>>
    </form>
    <%# for style %>
    <input class="toggle hidden" type="checkbox" <% if (todo.isDone) { %> checked <% } %>>
    <label><%= todo.name %></label>
    <form action="/remove" method="post">
      <input name="id" class="hidden" value="<%= todo.id %>" />
      <button type="submit" class="destroy"></button>
    </form>
  </div>
  <form action="/rename" method="post">
    <input type="hidden" name="id" value="<%= todo.id %>" />
    <input name="name" class="edit" onblur="clearEditMode(event)" value="<%= todo.name %>">
  </form>
</li>
<% }) %>
